<p id="notice"><%= notice %></p>

<h1>Müşteriler</h1>
 
<table id="customers-datatable" class = "dt-select hover stripe order-column row-border" data-source="<%= customers_path(format: :json) %>">
  <thead>
  <tr>
    <th>ID</th>
    <th>Firma Adı</th>
    <th>Adres</th>
    <th>Telefon</th> 
  </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<br>

<%= link_to 'Yeni Müşteri', new_customer_path , class: "btn btn-primary" %>

<button href = "proposal/new" class= "btn btn-primary" id="teklif">Teklif Oluştur</button>
<button href = "order/new" class= "btn btn-primary" id="siparis">Sipariş Oluştur</button>
<script>
    jQuery(document).ready(function() {
        $('#customers-datatable').dataTable({
            "processing": true,
            "serverSide": true,
            "columnDefs": [{ "orderable": false, "targets": -1 }],
            "ajax": $('#customers-datatable').data('source'),
            "pagingType": "full_numbers",
            "columns": [
                {"data": "id"},
                {"data": "firm_name"},
                {"data": "adress"},
               	{"data": "phone"},
            ],
            "oLanguage": {
              
              "oPaginate": {
                "sFirst": "İlk", // This is the link to the first page
                "sPrevious": "Önceki", // This is the link to the previous page
                "sNext": "Sonraki", // This is the link to the next page
                "sLast": "Son" // This is the link to the last page
              },
              "sSearch": "<span>Arama:</span> _INPUT_", //search
              "sLengthMenu": "_MENU_ Göster"

            }
            // pagingType is optional, if you want full pagination controls.
            // Check dataTables documentation to learn more about
            // available options.
        });
    });
</script>